/* Styles généraux */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    display: block; /* On change le 'flex' précédent pour que le header reste en haut */
}

/* Style de l'entête */
header {
  background-color: #000000;
    width: 98%;            /* Légèrement moins que 100% pour l'effet flottant */
    max-width: 1400px;     /* Évite qu'il soit trop large sur écran géant */
    margin: 5px auto 0 auto;
}

/* Style de la navigation */
nav {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: #000;
    padding: 10px 5%;
}

/* Style des liens (tes noms de pages) */
nav a {
    color: #ffffff; /* Typo blanche */
    text-decoration: none; /* Enlève le soulignement */
    font-weight: bold;
    font-size: 1.1rem;
    transition: color 0.3s;
}

.liens {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex: 2; /* On lui donne un peu plus de place */
}

.logo, .contact {
    flex: 1; /* Le logo prend de l'espace imaginaire à gauche */
}

.contact {
    display: flex;
    justify-content: flex-end;
}

.logo {
    display: flex;
    justify-content: flex-start;
}

/* On ajuste le container principal pour qu'il ne soit pas collé au header */
.container {
    margin: 50px auto;
}
